@using BlogProjectMVC.Models
@using BlogProjectMVC.Services
@using BlogProjectMVC.Enums
@using Microsoft.AspNetCore.Identity 
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@inject IImageService _imageService
@inject UserManager<BlogUser> _userManager

@model IPagedList<Blog>

<div class="row">

    @foreach (var blog in Model)
    {
        <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
            <div class="card border-dark">
                <img class="card-img-top" src="@_imageService.DecodeImage(blog.ImageData, blog.ContentType)" />
                <div class="card-body text-center">

                    <div class="bg-warning">
                        <hr class="card-hr" />
                        <h5 class="card-title">@blog.Name</h5>
                        <hr class="card-hr" />
                    </div>
                    <div>
                        <p class="card-text cftooltip"
                           data-toggle="tooltip"
                           data-placement="top"
                           title=""
                           data-original-title="@blog.Description">@blog.Description</p>
                    </div>

                    <br />
                    <div class="text-center">
                        <a class="btn btn-dark btn-sm btn-block mb-2" asp-action="BlogPostIndex" asp-controller="Posts" asp-route-id="@blog.Id">
                            Read Posts
                        </a>
                    </div>

                    @if (User.IsInRole(BlogRole.Administrator.ToString()))
                    {
                        <div class="text-center">
                            <a class="btn btn-dark btn-sm btn-block mb-2" asp-action="Create" asp-controller="Posts" asp-route-id="@blog.Id">Create Post</a>
                        </div>
                    }

                    @if (User.IsInRole(BlogRole.Administrator.ToString()))
                    {
                        <div class="text-center">
                            <a class="btn btn-danger btn-sm btn-block" asp-action="Edit" asp-controller="Blogs" asp-route-id="@blog.Id">Edit Blog</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>

<hr />

<div class="row">
    <div class="col h3">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
</div>

<!-- Paged List Core -->
<div class="row">
    <div class="col">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
       new PagedListRenderOptionsBase
       {
                LiElementClasses = new string[] {"page-item"},
                PageClasses = new string[] {"page-link"}
        })
    </div>
</div>

@section Scripts {

    <script>
        var swalMsg = '@TempData["SweetAlert"]'
        if (swalMsg != "") {
            Swal.fire({
                icon: 'success',
                title: swalMsg,
                timer: 2500
            })
        }

        $(document).ready(function () {
            $("p").tooltip();
        });

    </script>

}