@using BlogProjectMVC.Models
@model IEnumerable<Blog>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            @foreach (var blog in Model)
            {
                <!-- Post preview-->
                <div class="post-preview">
                    <a asp-controller="Posts" asp-action="BlogPostIndex" asp-route-id="@blog.Id">
                        <h2 class="post-title">
                            @blog.Name
                        </h2>
                        <h3 class="post-subtitle">
                            @blog.Description
                        </h3>
                    </a>
                    <p class="post-meta">
                        Authored by
                        <a href="#!">@blog.BlogUser.FullName</a>
                        on @blog.Created.ToString("MMM dd, yyyy")
                    </p>
                </div>

                <!-- Divider-->
                <hr class="my-4" />
            }

            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
        </div>
    </div>
</div>